<!DOCTYPE html>
<html lang="en" style="font-size: 14px;">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/font-awesome/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jquery-confirm")
    @Styles.Render("~/css/jquery-confirm")

    @Scripts.Render("~/bundles/messages")
    @Scripts.Render("~/bundles/fontawesome")

    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/css/bootstrap")

    @Scripts.Render("~/bundles/common")
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <footer>
            
        </footer>
    </div>


</body>
</html>
