@{
    @model WinMacOs.Models.Manager.SQLCompare.SQLCompareModel
    ViewBag.Title = "SQL Compare";
}

<div name="top-bar">
    <div class="row">
        <div class="col-md-4 text-left">
            <div style="display: inline-block">
                <h2><i class="fa-solid fa-database"></i></h2>
            </div>
            <div class="text-left" style="display:inline-block">
                <span style="font-weight:bold">
                    @Html.DisplayFor(model => model.Source)
                </span>
                <br />
                <span>
                    @Html.DisplayFor(model => model.DBNameSource)
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-right">
                Selected
                <br />
                <span style="font-weight:900;"><span data-bind="data.countRowSelected"></span> of @Model.SQLTables.Count</span>
            </div>
        </div>
        <div class="col-md-1" style="padding-right: 0px; padding-left: 0px;">
            <div id="btnDeploy" class="arrow" style="margin-top: 6px; height: 42px; padding-left: 6px; padding-top: 6px;">
                <i class="fas fa-arrow-right fa-xs"></i>Deploy...
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-right arrow2" style="background-color: var(--blue-2); margin-left: -24px; ">
                <div class="text-right" style="display: inline-block">
                    <span style="font-weight:bold">
                        @Html.DisplayFor(model => model.Target)
                    </span>
                    <br />
                    <span>
                        @Html.DisplayFor(model => model.DBNameTarget)
                    </span>
                </div>
                <div style="display: inline-block">
                    <h2><i class="fa-solid fa-database"></i></h2>
                </div>
            </div>

        </div>
    </div>
</div>
<div name="content" class="content col-flex">
    <div class="wrapped border-1 scroll-y" style="flex-basis: 38%;">
        <div class="row">
            <div class="col-md-12" id="listmeisai">
                @Html.EditorFor(model => model.SQLTables)
            </div>
        </div>
    </div>
    <div class="resizer-y" id="btnResizer"></div>
    <div class="wrapped border-2 scroll-y" style="flex: 1;">
        <div class="row">
            <div class="col-md-12" id="sqlview">
                @Html.Partial("EditorTemplates/SQLScriptView", Model)
            </div>
        </div>
    </div>
</div>
<div id="DeployModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-deploy flex flex-column dark-0">
        <div draggable="true" class="flex title" data-clientx="0" data-clienty="0">
            <h3 class="title-item" style="margin: 0;"><i class="fa-solid fa-hat-wizard"></i>Deployment</h3>
            <div class="dot-bar bg-fa-wand-magic-sparkles">
                @*<i class="fa-thin fa-wand-magic-sparkles"></i>*@
            </div>
            <div>
                <div class="button-title" id="popMaximizeDeploy"
                     aria-hidden="true">
                    <i class="fa-solid fa-expand"></i>
                    @*<i class="fa-solid fa-compress"></i>*@
                </div>
                <div class="button-title xmark" data-dismiss="modal" id="popCloseIcon"
                     aria-hidden="true">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        </div>
        <div name="top-bar">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-left" style="background-color: var(--grey-1); margin-right: -38px;">
                        <div style="display: inline-block">
                            <h2><i class="fa-solid fa-database"></i></h2>
                        </div>
                        <div class="text-left" style="display:inline-block">
                            <span style="font-weight:bold">
                                @Html.DisplayFor(model => model.Source)
                            </span>
                            <br />
                            <span>
                                @Html.DisplayFor(model => model.DBNameSource)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right arrow2" style="background-color: var(--grey-2); margin-left: -24px; ">
                        <div class="text-right" style="display: inline-block">
                            <span style="font-weight:bold">
                                @Html.DisplayFor(model => model.Target)
                            </span>
                            <br />
                            <span>
                                @Html.DisplayFor(model => model.DBNameTarget)
                            </span>
                        </div>
                        <div style="display: inline-block">
                            <h2><i class="fa-solid fa-database"></i></h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <section class="dep-content">
            <div class="row">
                <div class="col-md-3 dep-left">
                    <div class="row dep-row active" data-index="1">
                        <div class="col-md-12">
                            <div class="dep-step">
                                <div class="dep-circle">1</div>
                                <span class="dep-tab">Deployment Method</span>
                            </div>
                        </div>
                    </div>
                    <div class="row dep-row-join">
                        <div class="col-md-12">
                            <div class="dep-join">
                                <div class="dep-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row dep-row" data-index="2">
                        <div class="col-md-12">
                            <div class="dep-step">
                                <div class="dep-circle">2</div>
                                <span class="dep-tab">Dependencies</span>
                            </div>
                        </div>
                    </div>
                    <div class="row dep-row-join">
                        <div class="col-md-12">
                            <div class="dep-join">
                                <div class="dep-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row dep-row" data-index="3">
                        <div class="col-md-12">
                            <div class="dep-step">
                                <div class="dep-circle">3</div>
                                <span class="dep-tab">Deploy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 dep-right active" data-index="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="flex-column">
                                <div>
                                    <input type="radio" name="dep-type" id="dep-rad1" value="1" checked />
                                    Deploy using SQL Compare
                                </div>
                                <div>
                                    <input type="radio" name="dep-type" id="dep-rad2" value="2" />
                                    Create a deployment script
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dep-group">
                                <div>
                                    <input type="checkbox" id="dep-chk1" value="1" />
                                    Backup target before deployment
                                </div>
                                <div>
                                    <input type="checkbox" id="dep-chk2" value="1" checked />
                                    Recompare after deployment
                                </div>
                                <div>
                                    <input type="checkbox" id="dep-chk3" value="1" />
                                    Save a copy of deployment script
                                </div>
                                <div class="details">
                                    <div class="dep-input-grwap">
                                        <div class="dep-disable flex flex-row">
                                            <div for="txtDep1">Name</div>
                                            @{
                                                var fileName = $"{Model.Source}.{Model.DBNameSource}-{Model.Target}.{Model.DBNameTarget}-{DateTime.Now.ToString("yyyyMMdd-HH24mm-")}{new Random().Next(1000).ToString("d4")}.sql";
                                            }
                                            <div class="dep-input">@fileName</div>
                                        </div>
                                    </div>
                                    <div class="dep-input-grwap">
                                        <div class="dep-disable flex flex-row">
                                            <div for="txtDep2">Create in</div>
                                            <div class="dep-input">~/Files/SQL Compare/SQL Script/</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 dep-right" data-index="2">
                        <div class="row">
                            <div class="col-md-12 center">
                                <div>
                                    <input type="checkbox" id="dep-depen-chk1" value="1" />
                                    Deploy all dependencies (recommended)&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div>Objects selected for deployment</div>
                                <div data-bind="data.objectsSelected"></div>
                            </div>
                            <div class="col-md-4">
                                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dependencies</div>
                            </div>
                            <div class="col-md-5">
                                <div>Referencing or referenced by</div>
                            </div>
                        </div>
                        
                    </div>
            </div>
        </section>
        <div class="flex-fill"></div>
        <section class="dep-footer flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex flex-md-row">
                        <div style="flex: 1;"></div>
                        <a class="btn btn2 small" href="javascript:void(0)" id="btnDepBack"><i class="fa-solid fa-arrow-left"></i>Back</a>
                        <a class="btn btn1 small" href="javascript:void(0)" id="btnDepNext"><i class="fa-solid fa-arrow-right"></i>Next</a>
                        <a class="btn btn2 small" href="javascript:void(0)" id="btnDepCancel">Cancel</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    var getSQLScript = '@Url.Action("GetSQLScript", "manager/SQLCompare")'
</script>
<style>
</style>






































