@model WinMacOs.Models.Manager.SQLCompare.SQLCompareModel

<div class="scroll" style="position: relative;">
    <table class="datatable">
        <thead class="frezze-header border-bt-violet-0">
            <tr>
                <td class="w10 text-left tab-active" rowspan="2">SQL view</td>
                <td class="w10 text-left" rowspan="2">Summary view</td>
                <td class="w30 text-right" rowspan="2">@Html.DisplayFor(model => model.Source)<i class="fa-solid fa-table-cells"></i></td>
                <td class="w5 text-center" rowspan="2"><i class="fas fa-arrow-right"></i></td>
                <td class="w30 text-left" rowspan="2"><i class="fa-solid fa-table-cells"></i>@Html.DisplayFor(model => model.Target)</td>
                <td class="w10 text-left" rowspan="2"><i class="fa-solid fa-arrow-down"></i>Next</td>
                <td class="w10 text-left" rowspan="2"><i class="fa-solid fa-arrow-up"></i>Previous</td>
                <td class="w10 text-right" rowspan="2"><i class="fa-solid fa-gear"></i>&nbsp;<i class="fa-solid fa-expand"></i>&nbsp;<i class="fa-solid fa-circle-question"></i>&nbsp;</td>
            </tr>
            <tr>
                <td class="w10"></td>
                <td class="w10"></td>
                <td class="w30"></td>
                <td class="w5"></td>
                <td class="w30"></td>
                <td class="w10"></td>
                <td class="w10"></td>
                <td class="w10"></td>
            </tr>
        </thead>
        <tbody>
            @{ int index = -2; int idx = 0; }
            <tr data-group-index="@index" data-index="@idx" data-level="0" data-shouhin="0">
                <td colspan="3" class="text-left">
                    <span>@Html.DisplayFor(model => model.SQLScript)</span>
                </td>
                <td class="text-center">
                    <i class="fas fa-arrow-right fa-xs color-green-0"></i>
                </td>
                <td colspan="4" class="text-left">
                    <span>@Html.DisplayFor(model => model.SQLScript)</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {

    });
</script>
<style>
</style>